:root {
  --bg-issue-eight: #f6e0a4;
  --bg-issue-seven: #ff608c;
  --bg-issue-six: #fff;
  --bg-issue-five: #00c1b5;
  --bg-issue-four: #ff6519;
  --bg-issue-three: #ffbe00;
  --bg-issue-two: #1d3fbb;
  --bg-issue-one: #e30512;
  --font-family: "Roboto", sans-serif;
  --color-text: #251d20;
  --font-size-body: 18px;
  --line-height: 25px;
  --issue-width: 450px;
  --issue-height: 600px;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: var(--bg-issue-eight);
  width: 100vw;
  height: 100vh;
  position: relative;
  transition: all 0.3s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-text);
  font-family: var(--font-family);
}

a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

button {
  border: none;
  outline: none;
  background: none;
}

header {
  width: 100%;
  padding: 20px 15px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.img-logo {
  width: 260px;
}

.link-header-email {
  font-size: var(--font-size-body);
  line-height: var(--line-height);
  font-weight: bolder;
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 20px 15px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.footer-about {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text-about {
  font-size: var(--font-size-body);
  font-weight: bold;
  line-height: var(--line-height);
}

li {
  list-style: none;
}

.underlined {
  text-decoration: underline;
}

.footer-text-publisher {
  font-size: 12px;
  font-weight: normal;
}

.footer-text-privacy {
  margin-top: 20px;
}

.list-issue-point {
  font-size: var(--font-size-body);
  line-height: 1.6;
}

.list-issue-link:hover {
  text-decoration: underline;
}

main {
  width: 100%;
  height: var(--issue-height);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.img-issue-cover {
  width: var(--issue-width);
}

.box-issue-cover {
  position: relative;
  width: var(--issue-width);
  height: var(--issue-height);
  transition: all 0.3s ease-in-out;
}

.issue {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
  height: 100%;
}

.issue-8 {
  transform: translateY(0);
}
.issue-7 {
  transform: translateY(100%);
}
.issue-6 {
  transform: translateY(200%);
}
.issue-5 {
  transform: translateY(300%);
}
.issue-4 {
  transform: translateY(400%);
}
.issue-3 {
  transform: translateY(500%);
}
.issue-2 {
  transform: translateY(600%);
}
.issue-1 {
  transform: translateY(700%);
}

.label-issue-num {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  opacity: 0;
  pointer-events: none;
}

.btn-slide {
  background: #fff;
  border-radius: 50%;
  padding: 10px;
}

.box-btn-slide {
  display: flex;
  gap: 10px;
}

@media (max-width: 1200px) {
  :root {
    --issue-width: 400px;
    --issue-height: 500px;
  }
}

@media (max-width: 1024px) {
  .link-header-email {
    display: none;
  }
  header {
    justify-content: center;
  }
  .img-logo {
    width: 200px;
  }
  body {
    overflow-y: scroll;
    position: initial;
    height: auto;
  }
  footer {
    position: initial;
  }
  main {
    height: auto;
    width: 100vw;
    margin: 100px 0;
    flex-direction: column;
  }
  .label-issue-num {
    opacity: 1;
    pointer-events: all;
  }
  .footer-issue-list {
    display: none;
  }
  footer {
    justify-content: center;
  }
  .footer-about {
    width: 60%;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .footer-about {
    width: 90%;
  }
  :root {
    --issue-width: 300px;
  }
}
