:root {
  --bg-issue-eight: #f6e0a4;
  --bg-issue-seven: #ff608c;
  --bg-issue-six: #fff;
  --bg-issue-five: #00c1b5;
  --bg-issue-four: #ff6519;
  --bg-issue-three: #ffbe00;
  --bg-issue-two: #1d3fbb;
  --bg-issue-one: #e30512;
  --font-family: "Roboto", sans-serif;
  --color-text: #251d20;
  --font-size-body: 18px;
  --line-height: 25px;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: var(--bg-issue-eight);
  width: 100vw;
  height: 100vh;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-text);
  font-family: var(--font-family);
}

a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

header {
  width: 100%;
  padding: 20px 15px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.img-logo {
  width: 260px;
}

.link-header-email {
  font-size: var(--font-size-body);
  line-height: var(--line-height);
  font-weight: bolder;
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 20px 15px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.footer-about {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text-about {
  font-size: var(--font-size-body);
  font-weight: bold;
  line-height: var(--line-height);
}

li {
  list-style: none;
}

.underlined {
  text-decoration: underline;
}

.footer-text-publisher {
  font-size: 12px;
  font-weight: normal;
}

.footer-text-privacy {
  margin-top: 20px;
}

.list-issue-point {
  font-size: var(--font-size-body);
  line-height: 1.6;
}

.list-issue-link:hover {
  text-decoration: underline;
}
